/* Generic link and social buttons transition */
a, button, .icon-vkontakte, .icon-instagram {
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  &:active {
    -webkit-transition: all 0.02s ease;
    -moz-transition: all 0.02s ease;
    -o-transition: all 0.02s ease;
    transition: all 0.02s ease;
  }
}


/* LOGO EFFECTS */

/* Trying to fix glitches */
#logo {
  -webkit-transform: translateZ(0);
  cursor: pointer;
}
body {
-webkit-font-smoothing: subpixel-antialiased !important;
}

/* Rotation on hover */
.logotype:hover {
    -webkit-animation:spin 2.5s linear infinite;
    -moz-animation:spin 2.5s linear infinite;
    animation:spin 2.5s linear infinite;
    overflow:hidden;
}
@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }

/* Opacity effect for older browsers */
.no-cssanimations .logotype:hover {
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)"; /* IE 8 */
  opacity: 0.9;
}