@font-face {
  font-family: 'fa-social';
  src: url('../fonts/icon-font/fa-social.eot?11975878');
  src: url('../fonts/icon-font/fa-social.eot?11975878#iefix') format('embedded-opentype'),
       url('../fonts/icon-font/fa-social.woff?11975878') format('woff'),
       url('../fonts/icon-font/fa-social.ttf?11975878') format('truetype'),
       url('../fonts/icon-font/fa-social.svg?11975878#fa-social') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "fa-social";
  font-style: normal;
  font-weight: normal;
  speak: none;
  font-variant: normal;
  text-transform: none;
  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-facebook:before { content: '\e800'; }
.icon-vkontakte:before { content: '\e801'; }
.icon-twitter:before { content: '\e802'; }
.icon-instagram:before { content: '\e803'; }
.icon-cc-visa:before { content: '\e804'; }
.icon-cc-mastercard:before { content: '\e805'; }
.icon-wifi:before { content: '\e806'; }
.icon-peter-m:before { content: '\e807'; }
.icon-angle-double-left:before { content: '\e808'; }
.icon-angle-double-right:before { content: '\e809'; }
.icon-up:before { content: '\e80a'; }